@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 150vh;
}

header {
    background-image: url("../media/casey-horner-RmoWqDCqN2E-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

article::selection, h1::selection, h2::selection, h3::selection {
    background-color: rgba(255, 0, 0, 0.575);
    color: black;
}

header > h1 {
    padding: 45vh 0;
}

section {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

section > h3, p, article {
    color: rgba(255, 255, 255, 0.575);
    /* opacity: 0;
    transform: translateY(50%); */
}

#THREE {
    max-height: 28vh;
}

.sections-container {
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
    height: 100vh;
}

.sections-container::-webkit-scrollbar {
    opacity: 0;
}

@media only screen and (min-width: 576px) {
    header {
        background-image: url("../media/starry-sky-1656491_1280.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}

@media only screen and (min-width: 992px) {
    header {
        background-image: url("../media/48729253841_cff521b3d3_b.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    #title {
        color: rgb(0, 0, 0) !important;
    }
}