* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body {
    height: 100%;
    width: 100%;
}

header {
    height: 75vh;
    position: relative;
    min-height: 25%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translate(-50%, -50%);
}

header .container {
    position: relative;
    z-index: 2;
}

section {
    height: 100vh;
    overflow: hidden;
}