<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <button mat-icon-button [matMenuTriggerFor]="navigation"><mat-icon>unfold_more</mat-icon></button>
    <!-- #docregion sub-menu -->
    <mat-menu #navigation="matMenu">
      <button mat-menu-item>
        <a routerLink="/">Acceuil</a>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="administration">
        Administration
      </button>
      <button mat-menu-item [matMenuTriggerFor]="populaires">
        Destinations Populaires
      </button>
      <button mat-menu-item>
        <a routerLink="/about">À propos</a>
      </button>
    </mat-menu>
    <!-- #enddocregion sub-menu -->
    <mat-menu #administration="matMenu">
      <button mat-menu-item>
        <a routerLink="/administration/panel">Administration</a>
      </button>
      <button mat-menu-item>
        <a routerLink="/administration/graph">Graphiques</a>
      </button>
    </mat-menu>

    <mat-menu #populaires="matMenu">
      <button mat-menu-item>
        <a routerLink="/forfaits/cuba">Cuba</a>
      </button>
      <button mat-menu-item>
        <a routerLink="/forfaits/mexique">Mexique</a>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <app-sidenavform (filtresChange)="ajoutFiltre($event)"></app-sidenavform>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <app-trips [filtre]="filtres"></app-trips> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>