/*  style.css
    Modifié par: Mathieu Thériault
    Dernière modification: 5/18/2020 */

body {
    height: 100vh;
    background-color: black;
}

button:disabled {
    background-color: white !important;
    color: grey !important;
}

#paypal-button-container {
    margin-top: auto;
}