/* You can add global styles to this file, and also import other style files */
.container {
    width: 98%;
    margin: 3rem auto;
    background-color: #dcdde1;
    height: 70vh;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;

    .carousel {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row: 1;
        height: 100%;
        width: 200%;
        background-color: blue;
    }

    .hero-container {
        grid-row: 2;
        grid-column-start: 2;
        grid-column-end: 4;
        height: 100%;
        width: 100%;
    }

    .recherche {
        background-color: white;
        height: 200%;
        width: 100%;
        grid-row-start: span 2;
    }
}

.page-3 {
    width: 98%;
    margin: 3rem auto;
    background-color: #dcdde1;
    height: 70vh;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 1rem;

    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        grid-column: 2/4;
        width: 100%;

        .hero-2 {
            width: 1200px;
            background-color:#0984e3;
            height: 40px;
            border-radius: 8px;
            box-shadow:
            0 1.1px 2.2px rgba(0, 0, 0, 0.02),
            0 2.7px 5.3px rgba(0, 0, 0, 0.028),
            0 5px 10px rgba(0, 0, 0, 0.035),
            0 8.9px 17.9px rgba(0, 0, 0, 0.042),
            0 16.7px 33.4px rgba(0, 0, 0, 0.05),
            0 40px 80px rgba(0, 0, 0, 0.07);
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: bold;
            color: white;
            transition: transform 250ms;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }

            p:nth-child(n+2) {
                padding-left: 1rem;
            }
        }
    }

    .recherche {
        background-color: white;
        height: 100%;
        width: 100%;
        align-self: center;
        justify-self: center;
    }
}