/* You can add global styles to this file, and also import other style files */
@import "./mixins.scss";
* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h5 {
    font-weight: bold;
}

.container {
    padding: 1rem;
    margin: 1rem;
    background-color: #dcdde1;
    height: 70vh;
    border-radius: 8px;
    padding: 1rem;
}

.hero {
    border-radius: 8px;
    box-shadow:
    0 1.1px 2.2px rgba(0, 0, 0, 0.02),
    0 2.7px 5.3px rgba(0, 0, 0, 0.028),
    0 5px 10px rgba(0, 0, 0, 0.035),
    0 8.9px 17.9px rgba(0, 0, 0, 0.042),
    0 16.7px 33.4px rgba(0, 0, 0, 0.05),
    0 40px 80px rgba(0, 0, 0, 0.07);
    @include flex;
    color: white;
    transition: transform 250ms;
    cursor: pointer;

    &:hover {
        transform: scale(1.02);
    }

    p:nth-child(n+2) {
        padding-left: 1rem;
    }
}

// @import "./app/page1/page1.component.scss";
// @import "./app/page2/page2.component.scss";
// @import "./app/page3/page3.component.scss";
// @import "./app/carousel/carousel.component.scss";
// @import "./app/details/details.component.scss";
// @import "./app/ficheproduit/ficheproduit.component.scss";
// @import "./app/footer/footer.component.scss";
// @import "./app/header/header.component.scss";
// @import "./app/hero1/hero1.component.scss";
// @import "./app/hero2/hero2.component.scss";