<!-- <div class="trip-detail">
    <mat-grid-list cols="6" gutterSize="0" rowHeight="20rem">
        <mat-grid-tile colspan="1">
            <img class="trip-detail-img" src="https://miro.medium.com/max/700/1*6D9Dy-yE7EfCermiI5rIWA.jpeg" />
        </mat-grid-tile>
        <mat-grid-tile colspan="4">
            <div class="trip-detail-details">
                Helloooo
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->
<div class="trip-detail">
    <img class="trip-detail-img" src="https://miro.medium.com/max/700/1*6D9Dy-yE7EfCermiI5rIWA.jpeg" />
    <div class="trip-detail-details">
        Hello
    </div>
</div>