<form>
    <mat-form-field>
        <mat-autocomplete (optionSelected)="updateDestination($event.option.value)" #auto="matAutocomplete">
            <mat-option *ngFor="let option of destinations" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <mat-label>
            Destination
        </mat-label>
        <input 
        type="text" 
        matInput 
        placeholder="Mexique"
        value="{{ forfait.destination }}"
        (change)="updateDestination($event.target.value)"
        required [matAutocomplete]="auto">
    </mat-form-field>
    <mat-form-field>
        <mat-autocomplete (optionSelected)="updateVilleDepart($event.option.value)" #autoDepart="matAutocomplete">
            <mat-option *ngFor="let option of villeDepart" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
        <mat-label>
            Ville de Départ
        </mat-label>
        <input 
        type="text" 
        matInput 
        placeholder="Québec"
        value="{{ forfait.villeDepart }}"
        (change)="updateVilleDepart($event.target.value)"
        required [matAutocomplete]="autoDepart">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Nom de l'hôtel
        </mat-label>
        <input 
        type="text" 
        matInput 
        required
        (change)="updateNomHotel($event.target.value)"
        value="{{ forfait.hotel.nom }}" 
        minlength="2">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Coordonées
        </mat-label>
        <input 
        type="text" 
        matInput 
        required
        (change)="updateCoordoneesHotel($event.target.value)"
        value="{{ forfait.hotel.coordonnees }}" 
        minlength="2">
    </mat-form-field>
    <mat-label>Nb. Étoiles</mat-label>
    <mat-slider (change)="updateNbEtoiles($event.value)" value="{{ forfait.hotel.nombreEtoiles }}" min="0" max="5" step="0.5" thumbLabel></mat-slider>
    <section class="checkbox">
        <mat-checkbox *ngFor="let option of checkbox" [checked]="forfait.hotel.caracteristiques">{{ option }}</mat-checkbox>
    </section>
    <mat-form-field>
        <mat-label>
            Nombre de chambres
        </mat-label>
        <input 
        type="number" 
        matInput 
        required
        (change)="updateNbChambres($event.target.value)"
        value="{{ forfait.hotel.nombreChambres }}" 
        min="1">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date de départ</mat-label>
        <input (dateChange)="updateDateDepart($event.target.value)" matInput value="{{ forfait.dateDepart }}" [matDatepicker]="departPicker">
        <mat-datepicker-toggle matSuffix [for]="departPicker"></mat-datepicker-toggle>
        <mat-datepicker #departPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date de retour</mat-label>
        <input (dateChange)="updateDateRetour($event.target.value)" matInput value="{{ forfait.dateRetour }}" [matDatepicker]="retourPicker">
        <mat-datepicker-toggle matSuffix [for]="retourPicker"></mat-datepicker-toggle>
        <mat-datepicker #retourPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Prix
        </mat-label>
        <input 
        type="number" 
        matInput 
        required
        (change)="updatePrix($event.target.value)"
        value="{{ forfait.prix }}"
        min="1">
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Rabais
        </mat-label>
        <input 
        type="number" 
        matInput
        (change)="updateRabais($event.target.value)"
        value="{{ forfait.rabais || 0 }}"
        min="1">
    </mat-form-field>
    <button (click)="updateForfait($event,local_data)" [disabled]="validate()" mat-raised-button color="primary">Mettre à jour</button>
</form>