@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    height: 150vh;
}

article::selection, h1::selection, h2::selection, h3::selection {
    background-color: rgba(255, 0, 0, 0.575);
    color: black;
}

header {
    background-image: url("../media/starry-sky-1656491_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header > h1 {
    padding: 45vh 0;
}

section {
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

section > h3, p, article {
    color: rgba(255, 255, 255, 0.575);
}

#THREE {
    max-height: 28vh;
}