.fiche-produit {
    height: 30vh;
    background-color: #dcdde1;
    width: 98%;
    margin: 3rem auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}