body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-placeholder {
  background: rgba(82,139,128,1);
  position: relative;
}

.placeholder-animation {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(32deg, #246655, #add2c8);
  background-size: 400% 400%;

  -webkit-animation: CardholderAnimation 6s ease infinite;
  -moz-animation: CardholderAnimation 6s ease infinite;
  animation: CardholderAnimation 6s ease infinite;
}

@-webkit-keyframes CardholderAnimation {
  0%{background-position:39% 0%}
  50%{background-position:62% 100%}
  100%{background-position:39% 0%}
}
@-moz-keyframes CardholderAnimation {
  0%{background-position:39% 0%}
  50%{background-position:62% 100%}
  100%{background-position:39% 0%}
}
@keyframes CardholderAnimation {
  0%{background-position:39% 0%}
  50%{background-position:62% 100%}
  100%{background-position:39% 0%}
}

.album-cover-image {
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.album-cover-image::after {
  content: "";
  position: absolute;
  width: 100%; height: 100%;
  top: 0; left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.445);
}

.album-cover-image h1, .album-cover-image h4 {
  z-index: 2;
}

.track-item {
  text-align: center;
  background-color: black;
  border-top: #246655 1px solid;
  border-bottom: #246655 1px solid;
}

.track-item > a {
  cursor: pointer;
}

.track-item > a:hover {
  text-decoration: underline;
}

.connexion-logo {
  font-size: 7rem;
}

.album {
  transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
  cursor: pointer;
}

.album-hover {
  box-shadow:
  0 2.3px 2px rgba(255, 255, 255, 0.051),
  0 5.3px 4.9px rgba(255, 255, 255, 0.07),
  0 9.7px 9px rgba(255, 255, 255, 0.085),
  0 16.7px 15.1px rgba(255, 255, 255, 0.1),
  0 29.4px 24.3px rgba(255, 255, 255, 0.12),
  0 55.1px 40px rgba(255, 255, 255, 0.148),
  0 100px 80px rgba(255, 255, 255, 0.19)
;
  transform: translateY(-6%);
}

.search-results {
  z-index: 1000;
  position: absolute;
  left: 0;
  width: 100%;
  backdrop-filter: blur(15px);
  text-transform: capitalize;
  text-align: center;
}

.result-list-item {
  cursor: pointer;
}

.result-list-item:hover, .result-list-item:hover p {
  font-weight: bold;

  color: white !important;
}