<div class="carte">

            <div class="carte-description">
                <div class="destination-depart">
                    <p class="carte-depart">{{ forfait.villeDepart }}</p>&rarr;
                    <h3 class="carte-destination">{{ forfait.destination }}</h3>
                </div>
                <h2 class="carte-hotel">{{ forfait.hotel.nom }}</h2>
                <app-stars etoiles="{{ forfait.hotel.nombreEtoiles }}"></app-stars>
            </div>

            <div class="carte-details">
                <div class="carte-prix">
                    <span *ngIf="forfait.rabais > 0" class="rabais"> {{ forfait.prix - forfait.rabais }}$</span>
                    <h1 [ngClass]="{'prix': true, 'barre': forfait.rabais > 0}">{{ forfait.prix }}$</h1>
                    <small class="inclusions">Taxes et frais inclus</small>
                </div>
                <div class="carte-duree">
                    <p class="depart">{{ forfait.dateDepart | date: "longDate" }},</p>
                    <p class="duree">{{ forfait.nbJours }} jours</p>
                </div>
            </div>

    <div class="fleche">
        <div class="fleche-container"></div>
    </div>
</div>