<div class="carte">

            <div class="carte-description">
                <div class="destination-depart">
                    <h3 class="carte-destination">Rivera Maya (MX)</h3>
                    <p class="carte-depart">de Québec</p>
                </div>
                <h2 class="carte-hotel">Bahia Principe Grand Tulum</h2>
                <app-stars etoiles="2.5"></app-stars>
            </div>

            <div class="carte-details">
                <div class="carte-prix">
                    <h1 class="prix">1 549$</h1>
                    <small class="inclusions">Taxes et frais inclus</small>
                </div>
                <div class="carte-duree">
                    <p class="depart">31 mars 2021,</p>
                    <p class="duree">7 jours</p>
                </div>
            </div>

    <div class="fleche">
        <div class="fleche-container"></div>
    </div>
</div>