<div class="carte">
    <mat-grid-list cols="5" gutterSize="0" rowHeight="10rem">
        <mat-grid-tile colspan="3">
            <div class="carte-description">
                <div class="destination-depart">
                    <h3 class="carte-destination">Rivera Maya (MX)</h3>
                    <p class="carte-depart">de Québec</p>
                </div>
                <h2 class="carte-hotel">Bahia Principe Grand Tulum</h2>
                <app-stars></app-stars>
            </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <div class="carte-details">
                <div class="carte-prix">
                    <h1 class="prix">1 549$</h1>
                    <small class="inclusions">Taxes et frais inclus</small>
                </div>
                <div class="carte-duree">
                    <p class="depart">31 mars 2021,</p>
                    <p class="duree">7 jours</p>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="fleche">
        <div class="fleche-container"></div>
    </div>
</div>