.app {
    height: 100vh;
    width: 100vw;
    
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6rem;
        background-color: rgb(128, 128, 245);
        color: white;
        font-size: 2.5rem;;
        margin: 0;
    }

    .section {
        height: calc(100% - 9.5rem);
        background-color: rgb(20, 17, 17);
    }
    
    h2 {
        margin-left: 3rem;
        padding: 2rem 0;
        color: rgb(138, 126, 126);
    }
    
    p {
        padding: 0 3rem;
        line-height: 150%;
        color: rgb(138, 126, 126);
        font-weight: 500;
    }
}